@import "../../variables.scss";

.container {
  text-align: left;
}

.iconHolder {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHolder > img {
  width: 35%;
}

.title {
  color: $heading;
  font-size: 30px;
  font-weight: bold;
}

.subiTitle {
  color: $paragraph;
  font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 48%;
    margin-bottom: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 23%;
    margin-bottom: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
